<p id="notice"><%= notice %></p>

<h1 class="vid-head">Disrupts</h1>

<% @disrupts.each do | disrupt |%>
<div class="vid-container">
    <div class="vids col-md-12">
        <iframe id="video" width="800" src="<%= disrupt.link %>" frameborder="0" allowfullscreen></iframe>
        <div>
          <em class="tcGray"><%= disrupt.description %></em>
        </div>
    </div>
</div>
<% end %>

