<p id="notice"><%= notice %></p>

<h1 class="vid-head">Crunch Reports</h1>

<% @crunch_reports.each do | cr |%>
<div class="vid-container">
    <div class="vids col-md-12">
        <iframe id="video" width="800" src="<%= cr.link %>" frameborder="0" allowfullscreen></iframe>
        <div>
          <em class="tcGray"><%= cr.description %></em>
        </div>
    </div>
</div>
<% end %>

