/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

a {
    color: white;
}
.article-left {
    width: 75%;
}

.article-entry img{
    position: relative;
    top: -20px;
}
.article-right {
    width: 25%;
}
.bg-green {
    background-color: #0f4a00;
}
hr {
    color: #a5a5a5;
}
.container {
    margin: 16px auto;
}

div.container {
    padding: 0;
    position: relative;
}

#crunchboard {
    background-color: white;
    padding: 5px 15px;
}
.feat-pic img{
    max-width: 33%;
    height: 81px;
}
.feat-pic i {
    font-style: italic;
}
.mid-main {
    width: 100%;
    padding-left: 4px;
    width: 90%;

}

fieldset label span {
    color: #282e28;
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 5px;
}
fieldset p {
    padding: 5px;
    padding-top: 0;

}
.fontEM {
    font-size: 1.4em;
}
.fontEM3 {
    font-size: 1.3em;
}
.footer {
    text-align: left;
    width: 100%;
}

.green-arrow {
    color: #089E00;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
#green-bigger {
    font-size: 1.2em;
    font-color: #089E00;
}
#crunchboard div {
    border-style: solid;
    border-right: none;
    border-left: none;
    border-width: 1px;
}
.header-list {
    margin-left: -50px;
    font-size: 1.5em;
    font-color: #3e433e;
}
.header-list span {
    color: #3e433e;
    cursor: pointer;
}
.header-list i {
    cursor: pointer;
}
.header-list a {
    color: #3e433e;
}
.header-list li a:hover {
    color: #089E00;
}
.headerLogo {
    color: white;
}
#header-social li a{
    background-color: #ECECEC;
    color: #969996;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding-top: 6px;
}
#header-social li a:hover {
    text-decoration: none;
}
#header-social li a:hover:nth-of-type(1) {
    background-color: #4267b2;
}
#header-social li a:hover:nth-of-type(2) {
    background-color: red;
}

.height-50 {
    max-height: 49%;
    margin-left: 80px;
}
.inline {
    display: inline;
}
.inlineList li {
    display: inline;
    margin: 1px;
}
#left-main {
    margin-top:15px;
    padding-right: 0;
    float: left;
}
.margin-10 {
    margin: 10px 0;
}
.message-us {
    background-color: #3E433E;
    color: white;
    height: 39px;
}
#mid-main {
    padding-top: 5px;
    padding-left: 0;
    margin-top: 13px;
    float: right;
}
#mid-main h2 {
    text-align: left;
}
#nb1 {
    font-weight: bold;
 }
 #nb3 {
    font-weight: bold;
 }
 #news-text {
    font-size: 18px;
    width: 100%;
    min-height: 49px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 0;
 }
 #newsletter {
    color: #282e28;
 }
#note-bar {
    margin-top: 15px;
    text-align: center;
    margin-bottom: -20px;
}
.row {
    max-width: 1330px;
}
.search-bar input {
    height: 41px;
}
.sidebar-dimensions {
    width: 100%;
    height: 77px;
    border-style: solid;
    border-width: 1px;
    border-color: #a5a5a5;
    padding: 5px;
}
.socialList {
    float: right;
}
.socialList li {
    display: inline;
}
.tcGreen {
    color: #089E00;
}
.tcGray {
    color: #a5a5a5;
}
.list-style li{
    display: inline;
    font-color: white;
    background-color: #343B35;
    font-size: 1em;
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    margin: 5px;
}
#video {
    width: 600px;
    height: 374px;
}

.white-text {
    color: white;
}
.width-50 {
    max-width: 50%;
}
body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-align: -webkit-center;
}
button {
    font-style: normal;
    border-style: none;
}
.dark-grey {
    background-color: #282e28;
}
.dark-grey-font {
    font-color: #282e28;
}
.dark-grey-text {
    color: #282e28;
    font-size: 1.8em;
}
.dark-grey-text-upper {
    color: #282e28;
    font-size: 1.8em;
    text-transform: uppercase;
    padding-top: 7px;
}
em {
    font-size: 1.2em
}
header .header-list li {
    display: inline;
    margin: 10px;
}

/*#drop-down-1 {
    display: none;
}
#drop-down-2 {
    display: none;
}*/
header .header-list li a:active {

}
header .header-list li i:active {

}
header .header-list li a:hover {
    text-decoration: none;
}
header .header-list li span:hover ~ i{
    text-decoration: none;
    color: #089E00;
}
header .header-list li i{
    padding-left: 5px;
}
header .header-list li i:hover{
    color: #089E00;
}

footer {
    margin: 40px auto 0 auto;
    text-align: center;
    padding: 20px 65px;
    padding: auto
}
footer ::-webkit-input-placeholder {
    color: #a5a5a5;
}
footer li a {
    color: #a5a5a5;
}
footer li  {
    margin-top: 10px;
    margin-bottom: 10px;
}
i {
    color: #a5a5a5;
    font-style: normal;
}
span {
    color: white
}
ul {
    list-style-type: none;
    padding: 0;
}
::-webkit-input-placeholder {
    color: #089E00;
}
#crunchboard div a {
    color: #686c68;
}

#crunchboard div {
    margin: 10px 0;
    border-bottom: none;
    font-size: 1.2em
}
.log-in {
    font-size: 12px;
}
.log-in:hover {
    text-decoration: none;
    font-weight: 700;
}
p.notice {
    margin-top: 30px;
    margin-bottom: 0;
}
p.alert {
    margin-bottom: 0;
}
.devise-head {
    margin-top: 0;
}
.submit {
    margin-top: 10px;
}
.footer-input {
    width: 60%;
    height: 40px;
    font-size: 1em;
}
.footer-submit {
    background-color: #3e433e;
    width: 40%;
    float: right;
    border-style: none;
    min-height: 40px;
    font-size: 1.1em;
    color: white;
    letter-spacing: .1em;
}
.body-stories {
    float: left;

}
.drop-down {
    position: absolute;
    min-width: 100px;
    background: white;
}
#drop-down-1 {
    border: 1px #aab6aa solid;
    display: none;
}
#drop-down-1 a {
    display: block;
    font-weight: 200;
}
#drop-down-1 a:hover {
    background: #089E00;
    color: black;
}
#drop-down-2 {
    border: 1px #aab6aa solid;
    left: 147px;
    display: none;
}
#drop-down-2 a {
    display: block;
    font-weight: 200;
}
#drop-down-2 a:hover {
    background: #089E00;
    color: black;
}
#drop-down-3 {
    border: 1px #aab6aa solid;
    left: 302px;
    display: none;
}
#drop-down-3 a {
    display: block;
    font-weight: 200;
}
#drop-down-3 a:hover {
    background: #089E00;
    color: black;
}

.show {
    display: block;
}

.vid-container {
    margin: 0 auto;
    display: inline;
    text-align: center;
}

.vids {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}
.show-image {
    text-align: center;
}
.show-text {
    margin-top: 20px;
}
.block-style {
    display: block;
}
.block-style-last {
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 1199px) {
    .search-bar {
        display: none;
    }
    .sidebar-input, .sidebar-submit {
        width: 100% !important;
    }
}
@media only screen and (max-width: 991px) {
    .right-main {
        display: none;
    }
}

