// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main {
    margin: 0 auto;
    position: relative;

    .col-md-9 {
        padding: 0;
    }

    .left-main {
        position: relative;
        left: -15px;
    }

    .mid-main {
        position: relative;
        left: 40px;

        .ft-stories {
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }

        hr {
            position: relative;
            top: -10px;
        }

        h2 {
            text-align: center;
            top: -6px;
            font-weight: normal;
        }

        div.mid-main-divs {
            font-size: 12px;
            margin: 10px;
            clear: both;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;

            div span {
                margin-top: 10px;
                font-weight: 500;
            }
            div i {
                font-weight: 600;
            }

            div {
                height: 80px;
                box-sizing: border-box;
                padding: 15px 5px;
                margin-top:-20px;
            }

            img {
                height: 80px;
                position: relative;
                top: -2px;
            }
        }

        .news-text {
            position: relative;
            top: 9px;
        }
    }

    .mid-main-categories {
        top: 2.6em;
    }

    .body-stories {
            position: relative;
            left: -15px;

            .article-entry {
                border-bottom: solid;
                border-color: #282e28;
                border-width: 1px;
                margin-bottom: 10px;
                clear: both;
                padding: 5px;

                img {
                    float: right;
                }

                .dark-grey-font {
                    text-decoration: none;
                    opacity: 0.75;
                }
                .dark-grey-font:hover {
                    opacity: 1;
                }

                p a.tcGreen {
                    text-decoration: none;
                }
                p a.tcGreen:hover {
                    font-weight: 700;
                    background-color: transparent;
                }
            }
    }
}
header {
    .logo {
        width: 100%
    }
    .tip {
        text-align: center;
    }
    .socials {
        text-align: right;
    }
    .search-bar  {
        text-align: right;
    }
    .header-list {
        position: relative;
        left: 4em;
    }
    .dropdown-item {
        display: block;
    }
    .drops {
        display: -webkit-box;
        position: relative;
        left: 5em;

        .dropdown {
            margin-right: 2em;

            .caret {
                color: black;
            }

            .dropdown-menu {
                position: absolute;
            }
        }
    }
}

.right-main {
    position: relative;
    top: -62px;
    background-color: #f9f9f9;
    margin-top: 20px;
    padding-bottom: 20px;

    .sidebar-head {
        border-top: solid;
        border-bottom: solid;
        border-color: #a5a5a5;
        width: 100%;
        font-size: 1.5625em;
        font-color: #686c68;
        margin: 20px 0;
        text-align: center;
        position: relative;

        a {
            color: #686c68;
        }
    }

    .sidebar-content {
        position: relative;
        text-align: left;

        .sidebar-subs {
            margin-top: 10px;
            width: 100%;

            .sidebar-input {
                width: 66%;
                margin-right: 0;
                height: 25px;
            }
            .sidebar-submit {
                float: right;
                width: 34%;
            }
        }

        .text-center {
            width: 100%;
        }
    }

    .sidebar-shop {
        position: relative;
        border-top: solid;
        border-bottom: solid;
        border-color: #a5a5a5;
        width: 100%;
        font-size: 1.5625em;
        font-color: #686c68;
        margin: 20px 0;
        text-align: center;

        a {
            color: #686c68;
        }
    }
}