// Place all the styles related to the Socials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main .col-md-9 {

    .left-main {
        width: 66% !important;
        position: relative !important;

        .img-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            padding: .5em;
            color: white;
            background: #089E00;
            opacity: 0.7;
        }

    }

    .mid-main {
        width: 50%;
    }
}